.checkbox__label {
  .font(18px, 26px, #000000, bold);
  text-transform: none;
  align-self: flex-start;
  margin: 10px 0 44px 78px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: -78px;
    top: -13px;
    height: 55px;
    width: 55px;
    border-radius: 5%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-tick.svg");
    display: none;
    background-color: transparent;
  }
}

.checkbox__input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:hover + .checkbox__label::before,
  &:focus + .checkbox__label::before {
    background-color: @gray-form-input-hover;
  }

  &:active + .checkbox__label::before {
    background-color: @gray-form-input-down;
  }

  &:checked + .checkbox__label::after {
    display: block;
  }

  &:checked:active + .checkbox__label::after {
    display: block;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .checkbox__label {
    margin: 20px 0 42px 80px;

    &--devil-bridge {
      margin-right: 68px;
    }

    &--slide-park {
      margin-right: 85px;
    }
  }
}

@media (min-width: @desktop-width) {
  .checkbox__label {
    margin-right: 68px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
