.features__intro {
  margin: 0;
  padding: 45px 30px;
  padding-bottom: 10px;
}

.features__header {
  .font(18px, 26px, #000000, bold);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.features__intro-text {
  .font(14px, 26px);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
