.form {
  display: flex;
  flex-direction: column;
}

.form__section-header {
  .font(18px, 26px, #000000, bold);
  margin: 13px auto 21px;
  text-align: center;
}

.form__section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  padding: 5px 20px;

  &--name {
    min-height: 305px;
  }

  &--contacts {
    min-height: 287px;

    .form__group {
      flex-wrap: wrap;
      margin-bottom: 10px;

      &::after {
        content: "";
        width: 58px;
        height: 58px;
        background-color: #e6e6e6;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &--impression {
    min-height: 289px;
  }

  &--visited-places {
    min-height: 409px;
  }

  &--emotions {
    min-height: 260px;

    .form__section-header {
      margin-bottom: 17px;
    }
  }

  &--submit {
    border: none;
    min-height: 108px;
  }
}

.form__group {
  display: flex;
  margin-bottom: 20px;

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__label {
  .font(14px, 26px);
  align-self: center;

  &[for="phone"],
  &[for="email"] {
    margin-left: 21px;
    margin-bottom: 7px;
    width: 100%;
  }

  &--radio,
  &--checkbox {
    .font(18px, 26px, #000000, bold);
    text-transform: none;
    align-self: flex-start;
    margin: 15px 0 28px 78px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #f2f2f2;
    }
  }

  &--radio {
    &::before {
      left: -77px;
      top: -11px;
      height: 53px;
      width: 53px;
      border-radius: 50%;
      border: 16px solid #f2f2f2;
    }
  }

  &--checkbox {
    margin-bottom: 44px;
    margin-top: 10px;

    &::before {
      left: -78px;
      top: -13px;
      height: 55px;
      width: 55px;
      border-radius: 5%;
      border: 16px solid #f2f2f2;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form__input {
  background-color: #f2f2f2;
  border: none;

  &--text {
    .font(18px, 26px, #000000, bold);
    height: 58px;
    text-transform: none;
    padding: 0 22px;
    min-width: 192px;

    &[name="name"] {
      margin-left: 14px;
    }

    &[name="surname"] {
      margin-left: 13px;
    }

    &[name="patronymic"] {
      margin-left: 16px;
    }

    &::placeholder {
      color: #000000;
    }
  }

  &--phone,
  &--email {
    width: 222px;
    flex-shrink: 1;
  }

  &--radio {
    display: none;
  
    &:checked + .form__label::before {
        background-color: #000000;
    }
  }

  &--checkbox {
    display: none;

    &:checked + .form__label::before {
      background-image: url("../img/icon-tick.svg");
    }
  }

  &--textarea {
    .font(18px, 26px, #000000, bold);
    text-transform: none;
    width: 100%;
    margin: none;
    padding: 15px 20px;
    resize: none;
    height: 160px;

    &::placeholder {
      .font(18px, 26px, #000000, bold);
      text-transform: none;
    }
  }

  &--sumbit {
    .font(21px, 26px, #ffffff, bold);
    text-transform: uppercase;
    border: none;
    margin-top: 9px;
    height: 58px;
  }
}

.form__required-caption {
  display: none;
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
