.form {
  display: flex;
  flex-direction: column;
}

.form__section-header {
  .font(18px, 26px, #000000, bold);
  margin: 13px auto 21px;
  text-align: center;

  &--emotions {
    margin-bottom: 17px;
  }
}

.form__section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  padding: 5px 20px;

  &--submit {
    border: none;
  }
}

.form__group {
  display: flex;
  margin-bottom: 20px;

  &--contacts {
    flex-wrap: wrap;
    margin-bottom: 10px;

    &::after {
      content: "";
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__section-wrapper {
  display: flex;
  flex-direction: column;

  &--contacts {
    margin-bottom: 14px;
  }

  &--visited-places {
    margin-bottom: 35px;
  }
}

.form__required-caption {
  display: none;
}

.form__submit {
  .font(21px, 26px, #ffffff, bold);
  text-transform: uppercase;
  border: none;
  margin-top: 9px;
  height: 58px;
  margin-bottom: 31px;
}

.form__label {
  &--field {
    margin-left: 21px;
    margin-bottom: 7px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__section {
    width: 50%;
    order: 2;
    border-top: none;
    padding: 10px 50px;

    &--impression {
      order: 1;
      padding-left: 60px;
    }

    &--contacts,
    &--visited-places,
    &--emotions {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }

    &--name {
      padding-left: 57px;
      padding-right: 59px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 292px;
        background-color: #f2f2f2;
        left: -1px;
        top: 54px;
      }
    }

    &--visited-places {
      width: 100%;
      flex-wrap: wrap;
    }

    &--submit {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .form__section-header {
    font-size: 21px;
    line-height: 26px;
    margin-top: 39px;
    margin-bottom: 58px;

    &--contacts,
    &--visited-places,
    &--emotions {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      justify-content: space-between;

      &::before,
      &::after {
        content: "";
        width: 125px;
        height: 1px;
        background-color: #f2f2f2;
        top: 52px;
        align-self: center;
      }
    }

    &--emotions {
      margin-top: 21px;
      margin-bottom: 57px;
    }

    &--visited-places {
      align-self: center;
      margin-top: 11px;
      margin-bottom: 36px;
      width: 100%;
    }

    &--contacts {
      margin-top: 27px;
      margin-bottom: 25px;
    }

    &--name {
      margin-left: 0;
    }
  }

  .form__section-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 95px;

    &--contacts {
      margin-bottom: 0;
      padding: 0;
    }

    &--visited-places {
      margin-bottom: 0;
    }
  }

  .form__required-caption {
    display: block;
    align-self: center;
    margin-bottom: 7px;
  }

  .form__group {
    &--phone,
    &--email {
      min-height: 104px;
    }
  }

  .form__submit {
    margin-top: 37px;
    margin-bottom: 52px;
    width: 324px;
    padding-right: 15px;
  }

  .form__label {
    &--checkbox {
      margin: 20px 0 42px 80px;

      &[for="bellMountain"] {
        margin-right: 12px;
      }
    }

    &--radio {
      margin: 15px 0 37px 76px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__section {
    &--name {
      padding-left: 79px;
      padding-right: 120px;
    }

    &--impression {
      padding-left: 120px;
    }

    &--contacts {
      min-height: 210px;
    }

    &--visited-places,
    &--contacts,
    &--emotions,
    &--submit {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .form__section-header {
    &--contacts {
      margin-top: 25px;
      margin-bottom: 51px;
    }

    &--contacts,
    &--visited-places,
    &--emotions {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &--emotions {
      margin-top: 20px;
    }

    &--visited-places {
      margin-top: 9px;
    }
  }

  .form__group {
    &--contacts {
      align-items: center;
      margin-bottom: 0;
    }

    span {
      display: none;
    }
  }

  .form__section-wrapper {
    &--visited-places {
      padding: 0;
    }
  }

  .form__required-caption {
    margin-bottom: 13px;
  }

  .form__submit {
    width: 480px;
    margin-top: 39px;
    margin-bottom: 57px;
    padding-left: 15px;
  }

  .form__label {
    &--checkbox {
      &[for="bellMountain"] {
        margin-right: 0;
      }

      &[for="redMountains"] {
        margin-right: 5px;
      }
    }

    &--radio {
      margin-left: 79px;
    }

    &--field {
      &[for="phone"],
      &[for="email"] {
        margin-right: 16px;
        margin-bottom: 0;
        margin-top: 1px;
      }

      &[for="phone"] {
        margin-left: 0;
      }
    }
  }
}
