.form {
  display: flex;
  flex-direction: column;
}

.form__section-header {
  .font(18px, 26px, #000000, bold);
  margin: 13px auto 21px;
  text-align: center;

  &--emotions {
    margin-bottom: 17px;
  }
}

.form__section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  padding: 5px 20px;

  &--name {
    min-height: 305px;
  }

  &--contacts {
    min-height: 287px;
  }

  &--impression {
    min-height: 289px;
  }

  &--visited-places {
    min-height: 409px;
  }

  &--emotions {
    min-height: 260px;
  }

  &--submit {
    border: none;
    min-height: 108px;
  }
}

.form__group {
  display: flex;
  margin-bottom: 20px;

  &--contacts {
    flex-wrap: wrap;
    margin-bottom: 10px;

    &::after {
      content: "";
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__label {
  .font(14px, 26px);
  align-self: center;

  &--contacts {
    margin-left: 21px;
    margin-bottom: 7px;
    width: 100%;
  }

  &--radio,
  &--checkbox {
    .font(18px, 26px, #000000, bold);
    text-transform: none;
    align-self: flex-start;
    margin: 15px 0 28px 78px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #f2f2f2;
    }
  }

  &--radio {
    &::before {
      left: -77px;
      top: -11px;
      height: 53px;
      width: 53px;
      border-radius: 50%;
      border: 16px solid #f2f2f2;
    }
  }

  &--checkbox {
    margin-bottom: 44px;
    margin-top: 10px;

    &::before {
      left: -78px;
      top: -13px;
      height: 55px;
      width: 55px;
      border-radius: 5%;
      border: 16px solid #f2f2f2;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    background-color: @gray-form-input-hover;
    border-color: @gray-form-input-hover;
  }

  &--radio:active::before,
  &--checkbox:active::before {
    background-color: @gray-form-input-down;
    border-color: @gray-form-input-down;
  }
}

.form__input {
  background-color: #f2f2f2;
  border: none;

  &--checkbox,
  &--radio,
  &--text,
  &--textarea {
    &:hover {
      background-color: @gray-form-input-hover;
    }
  }

  &--text,
  &--textarea {
    &:focus {
      background-color: #ffffff;
      outline: 3px solid @gray-form-input-hover;
      outline-offset: -3px;
    }
  }

  &--text {
    .font(18px, 26px, #000000, bold);
    height: 58px;
    text-transform: none;
    padding: 0 22px;
    min-width: 192px;

    &[name="name"] {
      margin-left: 14px;
    }

    &[name="surname"] {
      margin-left: 13px;
    }

    &[name="patronymic"] {
      margin-left: 16px;
    }

    &::placeholder {
      color: #000000;
    }
  }

  &--phone,
  &--email {
    width: 222px;
    flex-shrink: 1;
  }

  &--radio {
    display: none;

    &:checked + .form__label::before {
      background-color: #000000;
    }

    &:checked:active + .form__label::before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &--checkbox {
    display: none;

    &:checked + .form__label::before {
      background-image: url("../img/icon-tick.svg");
    }

    &:checked:active + .form__label::before {
      /* TO-DO: use svg sprite here to put svg with opacity */
      background-image: url("../img/icon-tick.svg");
    }
  }

  &--textarea {
    .font(18px, 26px, #000000, bold);
    text-transform: none;
    width: 100%;
    margin: none;
    padding: 15px 20px;
    resize: none;
    height: 160px;

    &::placeholder {
      .font(18px, 26px, #000000, bold);
      text-transform: none;
    }
  }

  &--submit {
    .font(21px, 26px, #ffffff, bold);
    text-transform: uppercase;
    border: none;
    margin-top: 9px;
    height: 58px;
  }
}

.form__section-wrapper {
  display: flex;
  flex-direction: column;
}

.form__required-caption {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__section {
    width: 50%;
    order: 2;
    border-top: none;
    padding: 10px 50px;

    &--impression {
      order: 1;
      padding-left: 60px;
    }

    &--contacts,
    &--visited-places,
    &--emotions {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }

    &--contacts {
      min-height: 327px;
    }

    &--name {
      padding-left: 57px;
      padding-right: 59px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 292px;
        background-color: #f2f2f2;
        left: -1px;
        top: 54px;
      }
    }

    &--visited-places {
      width: 100%;
      flex-wrap: wrap;
      min-height: 290px;
    }

    &--submit {
      min-height: 168px;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .form__section-header {
    font-size: 21px;
    line-height: 26px;
    margin-top: 39px;
    margin-bottom: 58px;

    &--contacts,
    &--visited-places,
    &--emotions {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      justify-content: space-between;

      &::before,
      &::after {
        content: "";
        width: 125px;
        height: 1px;
        background-color: #f2f2f2;
        top: 52px;
        align-self: center;
      }
    }

    &--emotions {
      margin-top: 23px;
      margin-bottom: 57px;
    }

    &--visited-places {
      align-self: center;
      margin-top: 11px;
      margin-bottom: 36px;
      width: 100%;
    }

    &--contacts {
      margin-top: 29px;
      margin-bottom: 25px;
    }

    &--name {
      margin-left: 0;
    }
  }

  .form__label {
    &--radio {
      margin: 15px 0 37px 76px;

      &::before {
        left: -74px;
        top: -12px;
      }
    }

    &--checkbox {
      margin: 20px 0 42px 80px;

      &[for="bell-mountain"] {
        margin-right: 12px;
      }
    }
  }

  .form__input {
    &--text {
      min-width: 178px;

      &[name="surname"] {
        margin-left: 15px;
      }

      &[name="patronymic"] {
        margin-left: 18px;
      }
    }

    &--phone,
    &--email {
      width: 590px;
      margin-bottom: 12px;
    }

    &--submit {
      margin-top: 37px;
      width: 324px;
      padding-right: 15px;
    }
  }

  .form__section-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 95px;

    &--contacts {
      padding: 0;
    }
  }

  .form__required-caption {
    display: block;
    align-self: center;
    margin-bottom: 10px;
  }

  .form__group {
    &--phone,
    &--email {
      min-height: 104px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__section {
    &--name {
      padding-left: 79px;
      padding-right: 120px;
    }

    &--impression {
      padding-left: 120px;
    }

    &--contacts {
      min-height: 210px;
    }

    &--visited-places {
      min-height: 200px;
    }

    &--visited-places,
    &--contacts,
    &--emotions,
    &--submit {
      padding-left: 120px;
      padding-right: 120px;
    }

    &--submit {
      min-height: 174px;
    }
  }

  .form__section-header {
    &--contacts {
      margin-top: 27px;
      margin-bottom: 51px;
    }

    &--contacts,
    &--visited-places,
    &--emotions {
      &::before,
      &::after {
        width: 280px;
      }
    }

    &--emotions {
      margin-top: 20px;
    }

    &--visited-places {
      margin-top: 9px;
    }
  }

  .form__input {
    &--text {
      width: 350px;
    }

    &--phone,
    &--email {
      width: 258px;
      margin-bottom: 0;
    }

    &--textarea {
      padding-top: 17px;
    }

    &--submit {
      width: 480px;
      margin-top: 39px;
      padding-left: 15px;
    }
  }

  .form__label {
    &--radio {
      margin-left: 79px;
    }

    &--contacts {
      width: auto;
      margin-right: 16px;
      margin-bottom: 0;
      margin-top: 1px;
    }

    &[for="phone"] {
      margin-left: 0;
    }

    &[for="bell-mountain"] {
      margin-right: 0;
    }

    &[for="red-mountains"] {
      margin-right: 5px;
    }
  }

  .form__group {
    &--contacts {
      align-items: center;
      margin-bottom: 0;
    }

    span {
      display: none;
    }
  }

  .form__section-wrapper {
    &--visited-places {
      padding: 0;
    }
  }

  .form__required-caption {
    margin-bottom: 13px;
  }
}
