.main-intro {
  border: none;
  margin: 0;
  padding: 20px;
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: #61656c;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 26px;
  }
}

.main-intro__image-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .main-intro__image-text {
    width: 460px;
  }

  .main-intro {
    padding-top: 77px;
    padding-bottom: 93px;
    box-sizing: border-box;

    &::after {
      width: 91%;
      height: 62px;
      left: 50%;
      transform: translateX(-50%);
      background-position: bottom;
    }

    &::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-mobile.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 41px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-intro {
    padding-top: 81px;
    padding-bottom: 87px;

    &::after {
      width: 59%;
    }
    /*как разместить эту картинку, чтобы совпало с макетом?*/
    &::before {
      height: 60px;
    }
  }
}
