.player {
  display: flex;
  flex-direction: column;
}

.player__preview {
  min-height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #709b5c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player__controls {
  height: 111px;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(66px);
  background-image: linear-gradient(transparent 0px, transparent 45px, #f2f2f2 45px);
}

.player__seek-wrapper {
  position: relative;
  order: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    width: 235px;
    height: 3px;
    margin: 22px auto 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
  }
}

.player__control-icon {
  fill: rgba(92, 104, 112, 1);
}

.player__control {
  order: 1;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  color: transparent;
  overflow: hidden;

  &--replay {
    margin-left: 25px;
    width: 16px;
    height: 20px;
  }

  &--subtitles {
    margin-left: auto;
    width: 32px;
    height: 20px;
  }

  &--fullscreen {
    margin-left: 31px;
    margin-right: 23px;
    width: 20px;
    height: 20px;
  }

  &--seek {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: calc(50% + 1px);
    left: 58px;
    transform: translateY(-50%);
  }

  &:hover .player__control-icon{
    fill: rgba(51, 51, 51, 1);
  }

  &:active .player__control-icon{
    fill: rgba(51, 51, 51, 0.3);
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .player__preview {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .player__preview {
    min-height: 499px;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  .player__controls {
    background-image: none;
    transform: none;
    align-items: center;
    height: 93px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 35px;
  }

  .player__seek-wrapper {
    order: initial;
    width: 389px;
    height: auto;
    background-color: transparent;
    align-self: stretch;
    margin-left: auto;

    &::before {
      width: 100%;
      margin-top: 45px;
    }
  }

  .player__control-icon {
    fill: rgba(255, 255, 255, 1);
  }

  .player__control {
    order: initial;

    &--fullscreen {
      margin-right: 6px;
    }

    &--replay {
      margin-left: 0;
    }

    &--seek {
      left: 114px;
      top: 50%;
    }

    &:hover .player__control-icon {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active .player__control-icon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .player__preview {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .player__seek-wrapper {
    width: 540px;
  }

  .player__preview {
    min-height: 499px;
    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .player__preview {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}
