.search-hotel {
  min-height: 637px;
}

.search-hotel__intro {
  padding: 27px 20px 10px;
  min-height: 287px;
}

.search-hotel__header {
  .font(21px, 26px, #000000, bold);
  margin: 0 auto 20px;
  text-align: center;
  width: 260px;
}

.search-hotel__details {
  .font(14px, 24px, #333333);
  margin: 0 auto 35px;
  text-align: center;
  width: 262px;

  br {
    display: none;
  }
}

.search-hotel__link {
  .font(21px, 26px, #ffffff, bold);
  text-decoration: none;
  display: block;
  width: 280px;
  min-height: 58px;
  padding: 16px 10px;
  text-align: center;
  background-color: @blue;
  margin: 0 auto;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.search-hotel__link.disabled {
  background-color: #e5e5e5;
  pointer-events: none;
  cursor: default;
}

.search-hotel__map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: cover;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    min-height: 668px;
  }

  .search-hotel__intro {
    min-height: 318px;
    padding-top: 53px;
  }

  .search-hotel__header {
    font-size: 30px;
    line-height: 30px;
    width: 434px;
    margin-bottom: 30px;
  }

  .search-hotel__details {
    font-size: 14px;
    line-height: 24px;
    width: 440px;
    margin-bottom: 41px;

    br {
      display: block;
    }
  }

  .search-hotel__link {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel {
    min-height: 681px;
  }

  .search-hotel__intro {
    min-height: 331px;
  }

  .search-hotel__header {
    margin-bottom: 28px;
  }

  .search-hotel__details {
    margin-bottom: 47px;
  }
}
