.search-hotel {
  min-height: 637px;
  background: tomato;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    min-height: 668px;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel {
    min-height: 681px;
  }
}
