.site-navigation {
  .font(18px, 40px, #ffffff, bold);
  background-color: @blue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.site-navigation__item {
  display: block;
  padding: 7px;
  padding-top: 8px;
  text-align: center;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:last-of-type {
    border-bottom: none;
    box-shadow:
      inset 0 1px 0 0 rgba(255, 255, 255, 0.2),
      inset 0 -3px 2px 0 rgba(1, 1, 1, 0.2);
    padding-bottom: 8px;
  }

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;
  }
}

@media (min-width: @tablet-width) {
  .site-navigation {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site-navigation__link {
    .font(14px, 26px, #000000, bold);
    margin-top: 8px;

    &:hover {
      color: @blue;
      background-color: transparent;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
  }

  .site-navigation__item--active .site-navigation__link {
    color: #766357;

    &:hover {
      color: #604e43;
      background-color: transparent;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
      background-color: transparent;
    }
  }

  .site-navigation__item {
    box-shadow: none;
    border: none;
    min-height: 56px;
    width: 153px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 10px;

    &:last-of-type {
      box-shadow: none;
      border: none;
    }

    &:nth-of-type(3n) {
      margin-left: auto;
      padding-left: 11px;
    }

    &:active {
      background-color: transparent;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-navigation__item {
    width: 239px;
    padding-top: 5px;
    padding-left: 7px;

    &:nth-of-type(3n) {
      padding-left: 8px;
    }
  }
}
