.site-navigation {
  .font(18px, 40px, #ffffff, bold);
  background-color: @blue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation__link {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation__item {
  display: block;
  padding: 7px;
  padding-top: 8px;
  text-align: center;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:last-of-type {
    border-bottom: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    padding: 0;
  }

  .site-navigation {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .site-navigation__link {
    .font(14px, 26px, #000000, bold);
  }

  .site-navigation__item {
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    width: 153px;
    padding: 6px;
    padding-bottom: 10px;

    &:nth-of-type(3n) {
      margin-left: auto;    
      padding-left: 8px;  
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
