.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links__item {
  margin-right: 6px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-list__link {
  width: 46px;
  height: 48px;
  display: block;
  color: transparent;
  overflow: hidden;
  background-color: @blue;
}

.social-list__link-twitter {
  background-image: url("../img/icon-twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-list__link-facebook {
  background-image: url("../img/icon-facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-list__link-youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}
