.video {
  min-height: 498px;
  background-color: tomato;
}

@media (min-width: @tablet-width) {
  .video {
    min-height: 783px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    min-height: 830px;
  }
}
