html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  background-color: white;
  padding: 0;
  margin: 0;
}

.no-js {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @tablet-width) {
  .no-js {
    .main-nav__list {
      flex-direction: row;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  body {
    background-color: #f2f2f2;
  }
}
